/* 
v19
 */

:root {
	--white: 		rgba(255,255,255,1);
	--black:		rgba(0,0,0,1);
	--grey-light:	rgba(245,245,245,1);
	--grey:			rgba(190,190,190,1);
	--grey-dark:	rgba(10,10,10,1);

	--white-25: 		rgba(255,255,255,0.25);
	
	--font-fam-sans : 'Noto Sans', sans-serif;
	--font-fam-serif: 'Noto Serif', serif;
	--font-fam-mono : 'Noto Sans Mono', monospace;
}


/*********************************/


* {
	font-family: var(--font-fam-sans) !important;
}

/*********BAYASYS.CSS ***********/

.x-column-header {
    color: var(--white);
	background: var(--black);
    outline: 0;
	font-family: var(--font-fam-sans) !important; 
	font-size: inherit !important;
}
.x-tab-bar-default {
}

@page { margin: 0; }
/* Button Font Colour, Size */
.x-btn1-default-small .x-btn1-inner {
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
}
ext-el-mask{
    color:gray;
    cursor:default;
    opacity:0.6;
    background-color:grey;
}

.ext-el-mask-msg div {
    background-color: var(--grey-light);
    border-color: #A3BAD9;
    color: var(--grey-dark);
}

.ext-el-mask-msg {
    padding: 10px;
}

.x-grid-cell-inner-row-numberer {
    padding: 5px 5px 4px 3px;
    background-color: transparent;
}

.imagebutton {
    background-color: #efefec;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid var(--white);
    padding: 5px;
}
.rowcls{
    padding:0 6px;
    border :1px solid #6585A6;
    border-collapse:collapse;
    min-width:100px;
}
.grid-column-error{
    background: #f1c4b4;
}
.grid-column-disabled{
    background:rgb(189, 193, 191);
}
.field-error{
    background: #f59574;
}

.x-form-text-default1 {
    color: var(--black);
    background-color:#fa9572;
    border: 1
}
.x-grid-item-selected1 {
    color: var(--black);
    background-color: #eb9979;
}

.my-label-style {
    font-weight: bold; 
    text-align:center;
    color: rgba(255,0,0);
    font-size: 14px;
}

.my-label-style-green {
    font-weight: bold; 
    text-align:center;
    color: rgba(38, 128, 53);
    font-size: 12px;
}

/* product configuration screen defaultDisplayField label color*/
.x-form-text-defaultDisplayField {
    color: 	#1E90FF;
    padding: 3px 6px 2px;
   	font-weight: bolder;
    min-height: 22px;
}
/* product configuration screen label color*/
.x-form-text-defaultDisplayFieldcustom {
    color: 	#1E90FF;
    padding: 3px 0px 2px;
   	font-weight: bolder;
    min-height: 22px;
}

.x-form-checkbox-defaultChkDisabled {
    background: url(images/checkbox-disabled.png) no-repeat;
    width: 15px;
    height: 15px;

}
.x-grid-row .custom-column { 
    color: var(--black);  
    background-color: var(--grey-light);
    min-height: 22px;
}

.x-grid-row .custom-column-white {
    min-height: 22px;
    background-color: rgb(255, 255, 255);
    color: var(--black); 
}

.x-grid-row .custom-report-column { 
    /*    color: var(--black);  
        background-color: #e5e9c3;
        min-height: 22px;*/
}



.downarrowcls {
    overflow: hidden;
    width: 16px;
    height: 16px;
    background-image: url(images/tools/tool-sprites.png);
    margin: 0;
    background-position: 0 -224px;
    background-color: #ECE9E9;
    border: #ECE9E9
} 
.disabledRow {
    color: var(--black);
    background: rgb(189, 193, 191);  
}
.HelpActionColum{
    color: #98cbe4;
    font-size: 16px;
    height: 23px;
    width: 90px;
    cursor: pointer;
}
.x-tab-inner-default {
	color: var(--black);
}
.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
	color: var(--white);
}
.x-column-header-inner {
	padding: 10px;
}

.YellowColor .x-grid-cell{    
    background-color:  rgb(189, 193, 191);;
}
#grd_QuickPick-body::-webkit-scrollbar 
{
    width: 0px;
    height: 0px;
    -webkit-box-shadow: inset 20 20 6px rgba(1,2,0,5.3);
    background-color: #c2c3ca;
}
.btn-help{
    background-image:url(images/help.gif)
}
.iconNull{
    background-image:url(resources/css/icons/fam/grpIcon1.png)
}
.subGroup {
    background-color: #f1f1ee !important;
    color:white;
}
.mainGroup{
    background-color: #ddded0 !important;
    color:white;
}
.drillDownHead {
    alignment-adjust: middle;
    border: 1px;
    text-align:center;
    background-color: #F2F2DB !important;
    color:#161818

}
.boldFont { font-weight:bold !important; }

.drillDownLeaf{
    background-color: #f6f6f2;
    color:#1f2122;
}
.x-grid-cell-inner2 {
    overflow: hidden;
    padding: 3px 6px;
    white-space: nowrap;
}
.x-tree-icon { display: none !important; }
.custom-grid .x-grid-cell { 
    border-bottom-color: #ffc; 
    border-top-color: #ff5; 
    color: var(--black); 
    text-align: center;
    height: 27px;
    line-height:18px;
}
.custom-grid2 .x-grid-cell { 
    border-bottom-color: #ffc; 
    border-top-color: #ff5; 
    color: var(--black); 
    text-align: center;
    height: 80px;
}
.edotorstyle {
    font-size: 13px;
    color: rgb(0, 0, 0);
    cursor: text;
    background-image: none;
    background-attachment: fixed;
    background-color: #ff5;
    background-repeat: repeat;
}
.my-label-style-right {
    font-weight: bold; 
    text-align:right;
}
.my-label-style-left {
    font-weight: bold; 
    text-align:left;
}
.my-label-style-center {
    font-weight: bold; 
    text-align:center;
}
.my-label-style-bold {
    font-weight: bold; 
}



.custom-grid-rpt .x-column-header { 
    border-bottom-color: #ffc; 
    border-top-color: #ff5; 
    color:var(--black); 
    font-weight: bold; 
}

.custom-grid-rpt-null-hdr .x-column-header { 
    border-color: var(--white);
    color:var(--black); 
    font-weight: bold; 
    text-align: center;
    background-color: var(--white);
}

/**********/
.x-panel-body-default {
    background: var(--white);
    border-color: #cfcfcf;
    color: var(--black);
    font-size: 13px;
    font-weight: 300;
    border-width: 0.1px;
    border-style: solid;
}

.groupingElbow .x-tree-elbow-img {
    width: 16px !important; 
    height: 24px;
    line-height: 24px;
    margin-right: 2px;
}
.subGroup12 {
    background-color:#CEBA27!important;
}
.subGroup11 {
    background-color:#D8C431!important;
}
.subGroup10 {
    background-color:#DBC943!important;
}
.subGroup9 {
    background-color: #DECE54!important;
}
.subGroup8 {
    background-color: 	#E2D365!important;
}
.subGroup7 {
    background-color:   #E5D876!important;
}
.subGroup6 {
    background-color: #E8DD87 !important;
}
.subGroup5 {
    background-color: 	#EFE7A9 !important;
}
.subGroup4 {
    background-color:	  #F2EBBA !important;
}
.subGroup3 {
    background-color:  #F5F0CC !important;
}
.subGroup2 {
    background-color:  	#F8F5DD!important;
}
.subGroup1 {
    background-color:  #fbf9ea!important;
}

.subGroupTot {
    background-color:  #ffcece!important;
}

.subGroup0 {

    background-color:  #e6ee9c!important;

}


.bgMenu{
    background-image:url(icons/menu.png) !important;
    background-repeat: no-repeat;
    background-size: 100%
}
.grid-row-span .x-grid3-row {
    border-bottom: 0;
}

/**********/


.removed
{
    display:none;
}

.expands
{
    cursor:pointer; cursor:hand;
}

.grid-row-span .x-grid3-col {
    border-bottom: 1px solid #ededed;
}
.grid-row-span .row-span {
    border-bottom: 1px solid var(--white);
}
.grid-row-span .row-span-first {
    position: relative;
}
.grid-row-span .row-span-first .x-grid3-cell-inner {
    position: absolute;
}
.grid-row-span .row-span-last {
    border-bottom: 1px solid #ededed;
}

html>body div.scrollable tbody {
    overflow: scroll;
}

table.resizable th{
    text-align:center;
    overflow: hidden;
}

/* if mozilla, add 10 for the scrollbar */
html>body th.scrollbarCol {
    width:10px;
}

table.resizable td{
    overflow: hidden;
}

table.resizable{
    table-layout:inherit;
}

table.resizable input{
    width:100%;
}

table.resizable textarea{
    width:100%;
}

.nowrap {
    white-space:nowrap;
}

/* needed for IE */
table.tabular th.scrollbarCol {
    background-color:transparent; 
}

table.tabular {
    font-size: 13px;
    color: #336699;
}

table.tabular thead {
    color: var(--white);
    font-weight: bold;
    
}

table.tabular th{
    background-color:#c0c0c0; 
    padding: 4px;
}

table.tabular td {
    background-color:#EAF4F3;
    padding: 2px;
}

.fixed_headers {
  width: 150;
  table-layout: fixed;
  border-collapse: collapse;
  }
  
th { 
	text-decoration: underline; 
}

th, td {
    padding: 5px;
    text-align: left;
  }
  
  td:nth-child(1), th:nth-child(1) { min-width: 150; }
  td:nth-child(2), th:nth-child(2) { min-width: 150; }
  td:nth-child(3), th:nth-child(3) { width: 150; }
 
.old_ie_wrapper {
  height: 20;
  width: 150;
  overflow-x: hidden;
  overflow-y: auto;
}
.mbutton span{
    color:var(--black);
    
}

.mainPageGroupPanel .x-panel-header {
    color:#15428b;
    border-color:#99bbe8;
    background-image: none;
    background:#419adb;
}
.duplicateRow {
  background-color:#bcd3fa ;
}
.x-fieldset {
  overflow: visible;
}
label.x-form-required-field > span:after {
    color: #e50916;
    content: ' *';
    font-weight: bold;
}




.wizard-v7-content   {
	background: var(--white);
	width: 790px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: -13px 0 185px;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.wizard-v7-content .wizard-form {
	width: 100%;
}
.form-register .vertical {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.form-register .steps {
    float: left;
    width: 260px;
}
.form-register .steps ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.form-register .steps li {
    background: #b2b2b2;
}
.form-register .steps li:first-child,
.form-register .steps li.current:first-child {
    margin-top: 35px;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    margin: 0 50px 15px 40px;
}
.form-register .steps li.current,
.form-register .steps li.done {
    background: #33a7d7;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	display: flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    position: relative;
}
.form-register .steps li a .title::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 45px solid #b2b2b2;
}
.form-register .steps li.current .title::after,
.form-register .steps li.done .title::after {
    border-left: 45px solid #33a7d7;
}
.form-register .steps li a .title .step-icon {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    color: var(--white);
    font-size: 25px;
    margin: 0;
    padding: 13px 17px;
    position: relative;
}
.form-register .steps li a .title .step-icon::before {
    position: absolute;
    height: 60px;
    width: 1px;
    left: 100%;
    top: 0;
    content: "";
    background: rgba(255, 255, 255, 0.3);
}
.form-register .steps li a .step-text {
    margin-top: 10px;
}
.form-register .steps li a .step-text span {
    display: block;
}
.form-register .steps li a .step-text .step-inner-1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}
.form-register .steps li a .step-text .step-inner-2 {
    font-size: 14px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}
.form-register .content {
    float: right;
    width: 530px;
    background: var(--white);
}
.form-register .content h2 {
	display: none;
}
.form-register .content .inner {
    margin: 35px 40px 25px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 30px 25px;
}
.form-register .content .wizard-header {
	padding: 9px 30px 11px;
    background: #33a7d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 -30px 24px;
}

.form-register .content .wizard-header h3 {
    font-size: 22px;
    color: var(--white);
    font-weight: 700;
    margin: 0;
}
.inner .form-row {
    display: flex;
    margin: 0 -10px;
    position: relative;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 19px;
    position: relative;
}
.inner .form-row .form-holder.form-holder-1 {
    width: 65.3%;
}
.inner .form-row .form-holder.form-holder-2 {
	width: 100%;
	position: relative;
}
.inner .form-row .form-holder label {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-bottom: 8px;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.inner .form-row .form-holder select {
	font-size: 14px;
    color: #666;
    font-weight: 600;
    background: var(--white) url('../images/wizard-v7-icon.png') no-repeat scroll;
    background-position: right 6px center;
    z-index: 1;
    cursor: pointer;
    position: relative;
    border:  2px solid #e5e5e5;
    padding: 10.4px 13px;
}
input::placeholder {
    color: #999;
    font-size: 15px;
    font-weight: 400;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #999;
   font-size: 15px;
   font-weight: 400;
}

input::-ms-input-placeholder { /* Microsoft Edge */
   color: #999;
   font-size: 15px;
   font-weight: 400;
}
.inner .form-row .form-holder .content-inner {
    font-weight: 400;
    color: #666;
    font-size: 14px;
}
.inner .form-row .form-holder .content-inner p {
    margin: 0;
}
.inner .form-row .form-holder .form-checkbox {
    position: relative;
    padding-top: 55px;
}
.inner .form-row .form-holder .form-checkbox p {
    margin-left: 27px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
.inner .form-row .form-holder .form-checkbox input {
    position: absolute;
    opacity: 0;
}
.inner .form-row .form-holder .form-checkbox .checkmark {
    position: absolute;
    bottom: 8%;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
.inner .form-row .form-holder .form-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: 1px solid #33a7d7;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.inner .form-row .form-holder .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}

.actions {
	float: right;
    width: 530px;
    background: var(--white);
}
.actions ul {
    list-style: none;
    padding: 0 40px;
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.actions ul li.disabled,
.actions ul li:first-child {
	opacity: 0;
}
.actions ul li {
	padding: 0;
    border: none;
    display: inline-flex;
    height: 42px;
    width: 120px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #364cd2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
.actions ul li:hover {
	background: #28379e;
}
.actions ul li a {
	color: var(--white);
	text-decoration: none;
    padding: 13px 19px;
}

/* Responsive */
@media screen and (max-width: 991px) {
    .page-content .wizard-heading {
        margin-left: 0;
        width: 90%;
    }
    .wizard-v7-content {
        width: 90%;
    }
    .form-register .steps {
        width: 95%;
        float: none;
    }
    .form-register .content,
    .actions {
        float: none;
        width: 100%;
    }
} 
@media screen and (max-width: 575px) {
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row .form-holder {
		width: 100%;
	}
	.inner .form-row .form-holder {
		padding: 0;
	}
    .form-register .steps {
        width: 90%;
        float: none;
    }
}

.thumb-wrap > div{
    border: 1px solid #CFCFCF;
    font-weight: bold;
    height: 450px;
    width: 320px;
    float: left;
    color: #555;
    text-align: center;
    line-height: 120px;
    margin: 0px 12px 24px 12px;
}

div.thumb-wrap:hover div.overlayo {
	 bottom: -470px;
      height: 100px !important;
       opacity:0.5;
}

div.thumb-wrap div.overlayo {
  position: absolute;
 bottom: -350px;
	left:11;
 background-color: #dbe2f0;
 overflow: hidden;
 width: 100%;
 height:0;
 transition: .5s ease;
  opacity:1;
}
div.thumb-wrap div.overlayo input.preview {
  background-color: green;
  border: none;
  color: white;
  left:11px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
div.thumb-wrap div.overlayo input.default {
  background-color: red;
  border: none;
  color: white;
  right:10px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.selectionChange{
	 background-color: green;
  border: none;
  color: white;
  right:10px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

div.thumb-wrap div.overlayo input.default:hover {
  background-color:	#486ac6;
  	
}

div.thumb-wrap div.overlayo input.preview:hover {
  background-color: #486ac6;
  	
}
.btnooicon{
 
   	background-image: url(resources/css/icons/notificationbell7.png);
   	background-repeat: no-repeat;
   	background-size: 90% 90%;
   	background-position: center;
}

.overlay11 {
/*   position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
}



.overlay12 {
	color: var(--grey-dark);
    font-size: 31px;
    height: 100%;
    background: url(icons/selectedImage2.png);
    background-color: var(--grey);
    background-size: contain;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position-y: 178px;

}
.uae-template-base1{
	    padding: 0 0 0 50px;
}

 .screen-header input, .screen-footer input, .screen-header textarea, .screen-footer textarea{
	border: 1px solid var(--black);
	padding: 10px;
    border-radius: 4px;
} 
.screen-header .form-group{
    padding: 5px;
} 
.screen-footer{
	width: 100%;
}
.screen-footer .form-row{
    width: 100%;
} 
.screen-footer .form-group{
    padding: 10px;
    text-align: left;
    float: right;
} 
.btn-fixed{
	max-height: 40px;
	margin-top: 35px;
}

.form-group.eight-twelve{
    width: calc(60%) !important;
} 

.invoice-footer .form-subgroup-6{
} 

.x-form-text-defaultfroDisabled {
	background: transparent;
	border: none !important; 
    color: var(--black);
    padding: 3px 6px 2px;
    min-height: 22px;
}

.x-panel-body-default, .x-form-text-default {
	font-family: var(--font-fam-sans); 
	font-size: 1rem;
	}

.form-group {
	margin-bottom: 0;
	}



/*************END BAYASYS.CSS**************/


/*****
 APPLICATION>CSS
****/

.toolbar-combo .x-form-text {
    display: inline;
    color: var(--black)!important;
}

.toolbar-combo .x-form-item-label-inner {
    display: none;
}

.toolbar-combo .x-form-trigger-wrap-default {
    border-width: 1px;
    border-style: hidden;
    
}

.toolbar-settings :hover {
  background-color: #90c0e387;
  color:var(--black);  
}
 
.toolbar-icons :hover {
  background-color: #90c0e387;
  color:var(--black);  
	transform: skew(-10deg);
} 
.loginpanel{
	background: #35baf6 !important;
}
.login-panel{
	background: #35baf6 !important;
}


.button-link .x-btn-inner-default-small {
    color: #469f75 !important;
}


.maintoptoolbar .x-toolbar-default{
     background-color: white !important;
}

.westheading .x-panel-header{
}
#westregion_header-title-textEl{
	color:var(--black);
}

.main-icons{
	 background-color: transparent !important;
}

.main-icons .x-btn-center {
text-align: center;
}

.main-icons .x-btn-center {
text-align: center;
}

.main-icons:hover .x-btn-wrap {
	background-color: #39c8f447 ;
	background-color:  #0b63df6e;
	background-color: #e5e5e56e;
}  

.x-box-inner .icons-panel{
	background-color: #39c8f447 !important;
}
#bt_moduleListmenu-innerCt{
	 background-color:var(--white);
	overflow: visible;
}
.main-icons .iconlabel{
	opacity: 0 !important;
}
.main-icons:hover .iconlabel{
	opacity: 1 !important;
}
.main-icons .x-btn-inner{
	overflow: visible;
}
.x-panel-body .icons-panel{
	background-color: #a6e5f9 !important;
	overflow: visible;
}
.x-panel-body-default .MDI_TabPanel{
    border-color: var(--white);
}

.main-icons .x-btn-center{
text-align: center;
}

.main-icons:focus .x-btn-wrap {
	background-color: #00c5e463;
} 
#bt_moduleListmenu-body{
    z-index: 999;
}

.x-btn-arrow-right:after {
	opacity: 0 !important;
}

.submenudesign{
	border-color: red;
}
.dashboardmask{
	opacity:0.5;
}
.x-panel-header-default .x-tool-img {
    background-color: transparent;
}

.refreshbutton{
	width: 35px !important;
    height: 27px;
    margin-top: -5px;
}
b .x-title-text #DashboardSalesValueChart{
	color: #0e7f47 !important;
}
b .x-title-text #DashboardPurchaseValueChart{
	color: #0e7f47 !important;
}
.x-title-text #DashboardSalesValueChart{
	color: #0e7f47 !important;
}
.x-title-text #DashboardSalesValueChart{
	color: #0e7f47 !important;
}
.x-title-text #DashboardSalesValueChart{
	color: #0e7f47 !important;
}

.x-treelist-root-container .x-treelist-item{
      background-color: var(--white) !important;
}

.x-treelist-item .superchild{
       background-color: var(--grey-light) !important;
}

.x-treelist-root-container .x-treelist-item:hover{
	background-color: var(--grey-light) !important;
      
}
.x-treelist-root-container .x-treelist-item:active{
	background-color: #cef2db !important;
      
}
.x-treelist-item .superchild:hover{
       background-color: #cef2db !important;
}
.x-treelist-item-icon, .x-treelist-item-tool {
    color: #107546;
    font-size: 18px;
}
.x-treelist-item-expander {
    display: none !important;
    
}

/*********END APPLICATION.CSS *************/


.x-treelist-root-container .x-treelist-item{
   /* this can be used to customize first main icons */
}

.x-treelist-container .x-treelist-item{
   /* this can be used for second layer of icons */
}

.x-treelist-item-text {
	background-repeat: no-repeat;
	background-position: top left;
	margin-left: 0;
	padding-left: 30px;
	background-size: contain;
}

.x-treelist-item-icon.fa-star {display: none;}
.x-treelist-item-icon.fa-th-large {display: none;}
.x-treelist-item-icon.fa-life-ring {display: none;}

.x-treelist-item-wrap {padding: 5px 0;}


.x-grid-item {
	font-size: inherit;
	}

#ext-element-105 {background-image: url('http://kvlt.info/muhasaba/icons/wallet.svg');}
	#ext-element-198{}
	#ext-element-204{}
	#ext-element-209{}
	#ext-element-214{}
	#ext-element-219{}
	#ext-element-224{}
#ext-element-134 {background-image: url('http://kvlt.info/muhasaba/icons/cash-register.svg');}
	#ext-element-234{}
	#ext-element-240{}
	#ext-element-245{}
	#ext-element-250{}
	#ext-element-255{}
	#ext-element-260{}
#ext-element-165 {background-image: url('http://kvlt.info/muhasaba/icons/checkbook.svg');}
#ext-element-216 {background-image: url('http://kvlt.info/muhasaba/icons/book-multiple.svg');}
#ext-element-237 {background-image: url('http://kvlt.info/muhasaba/icons/file-chart.svg');}
#ext-element-460 {background-image: url('http://kvlt.info/muhasaba/icons/tune.svg');}
#ext-element-506 {background-image: url('http://kvlt.info/muhasaba/icons/tools.svg');}

.x-form-item-label-default {
	font-size: inherit;
}
.x-fieldset-default{
	border-width: 0;
}

#bt_moduleListmenu li:hover {
	background-color: transparent;
}

#maincenter-body{
	background: var(--grey-light) !important;
}

#northPanel {
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}
#northPanel, #northPanel-body {
    height: 45px !important;
}

.x-boundlist-floating {
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 5px 5px;
}

.x-tool-collapse-left {
    background-image: url('http://kvlt.info/muhasaba/icons/backburger.svg') !important;
    background-size: contain;
}

.x-tool-expand-right {
    background-image: url('http://kvlt.info/muhasaba/icons/menu.svg') !important;
    background-size: contain;
}

.refreshbutton {
	background-image: url('http://kvlt.info/muhasaba/icons/refresh.svg') !important;
    background-size: contain;
}

#topToolbar .x-btn-default-toolbar-small {
	height: 24px !important;
	width: 24px !important;
	margin-top: 6px !important;
    background-size: contain !important;	
}

.x-tab.x-tab-active.x-tab-default {
	border-color: var(--primary);
	background-color: var(--primary);
	color: var(--white);
}

.x-tab.x-tab-active.x-tab-default a span{
	border-color: var(--white);
	background-color: var(--white);
}

.x-btn-focus {
	background-color: var(--primary);
}

#AlertBell {background-image: url('http://kvlt.info/muhasaba/icons/bell-circle.svg') !important;}
#button-1039 {background-image: url('http://kvlt.info/muhasaba/icons/magnify.svg') !important;}
#button-1042 {background-image: url('http://kvlt.info/muhasaba/icons/settings.svg') !important;}
#button-1044{background-image: url('http://kvlt.info/muhasaba/icons/help-circle.svg') !important;}
#button-1045{background-image: url('http://kvlt.info/muhasaba/icons/account-circle.svg') !important;}


.x-box-scroller-body-horizontal {
	height: 40px !important;
}

.x-tab {
	height: 40px !important;
	padding: 10px !important;
}

#MDI_TabPanel-body {
    margin-top: -16px;
}

.x-tab-default .x-tab-close-btn {
	background-image: url(http://kvlt.info/muhasaba/icons/close-circle-outline.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center !important;
	height: 20px;
	width: 20px;
	top: 0;
	right: 0;
}

.x-tab-default .x-tab-close-btn-over {
	background-image: url(http://kvlt.info/muhasaba/icons/close-circle.svg);	
	background-position: center center !important;
}

.x-tab-wrap {
}

.x-tab-default-top  {
		border-color: var(--grey-light); 
		background-color: var(--grey-light); 
		color: var(--black);
}

.x-treelist-item-expander::after {
	/* content:"" !important; */
}

.x-treelist-item-selected .x-treelist-item-expanded {
}

#bt_moduleListmenu ul li {
   /* padding: 4px 0;*/
}
.x-treelist-row.superchild {
	padding-top: 4px; 
	padding-bottom: 4px;
	}


.x-form-trigger-default {
	width: 22px;
	background-image: url(http://kvlt.info/muhasaba/icons/chevron-down.svg);
	background-size: contain;
	background-position: center center !important;
	border: 1px solid var(--black);
	border-radius: 0 4px 4px 0;
	border-left: 0;
}

.x-form-date-trigger {
		display: block;
}

.x-tab-wrap {
	margin-top: -3px;
}

.x-box-scroller-tab-bar-default.x-box-scroller-right {
	background-image: url(http://kvlt.info/muhasaba/icons/chevron-right.svg);
	top: 20px;
}

.x-box-scroller-tab-bar-default.x-box-scroller-left {
	background-image: url(http://kvlt.info/muhasaba/icons/chevron-left.svg);
	top: 20px;	
}

a span {
	color: var(--color-primary);
}

.tab-screen-number {
	color: var(--grey);
}
.x-autocontainer-innerCt {
	background-color: var(--white) !important;
}

.form-group {
	margin-bottom: 0 !important;
	}


.screen-header {
	padding-left: 30px;
	}

.screen-footer label { 
	width: 100% !important;	
	text-align: right; 
	padding-right: 2rem !important; 
}

.screen-footer label span{ 
	width: 100% !important;
}

.screen-footer input {
	text-align: right; 
	}

.toolbariconminwidth {
	background-image: none;
	}

.screen-main .x-grid {
	border-radius: 8px; 
	border: 1px solid var(--black) !important;
	}
	
.screen-main .x-grid-header-ct {
	background: var(--grey-dark); 
	color: var(--white);
	border-color: var(--grey-dark);
}

.screen-main .x-column-header {
	color: inherit; 
	background: transparent;
	}
	
.screen-main .x-column-header-focus {
	color: var(--grey-dark); 
	background: var(--white);
	}
.screen-main .x-column-header-over {
	color: var(--white); 
	background: var(--grey-dark); 
	}

.centertabpanel .x-tab-bar-body-default, 
.westheading .x-panel-header {
	background-color: var(--white); 
	background-image: none !important;
	}


.x-grid-body, .x-panel-body-default {
	background: transparent;
}


.x-mask {
	background-color: var(--white-25);
	}
	
.x-mask.wincustom {
	background: var(--white);	
}
#LoginWindow-body input {
	border: 1px solid var(--black); border-radius: 4px; padding: 10px;
	}

.input-extended input {
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: right center;
	padding-right: 20px;
	}

.input-selector input {
	/* background-image: url('http://kvlt.info/muhasaba/icons/chevron-down.svg'); */
	}
.input-datepicker input {
	/* background-image: url('http://kvlt.info/muhasaba/icons/calendar-month-outline.svg'); */
	}
	
.input-disabled input,
input[disabled]{
	border: 0 !important; 
	background-color: transparent !important;
}

.input-spacer {
}

thead {
    background: var(--black);
    color: var(--white);
    border-radius: 4px 4px 0 0;
}

table thead th {
    background: var(--black);
	text-decoration: none;
	font-size: .9rem;
	font-weight: normal;
}

.x-boundlist-list-ct thead {
    background: var(--white);
}

.x-window-header-default {
	background-image: none;
}

.x-datepicker-month .x-btn-inner {
	color: var(--black);	
}

.x-btn-default-small {
	background-color: var(--primary);
	border-color: var(--primary);
}

#northPanel input {
	border: 1px solid var(--black);
	border-radius: 4px 0 0 4px;
	border-right: none;
}


.x-title-text {
	color: var(--black);
}

.x-boundlist-item {
	background: var(--white);
}
